# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: d43e52d2f0501c61227ce9a1a1d6d7556f4fa3f1cc139094993fb32dd5ef6b667f28b0089bcf9b8d6298ba8e3337e9c645d2d5a2b2b2007965b235da5db415ff

test:
  secret_key_base: 70ecefc8a8283abb04bfdb113386c47e76c829a26d48607d0afa7672b9bbe81d5dde9e2c82a8adf5137a7b58e4242695e9254a03f88ed06307b17cc9dc5de460

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
